replicaCount: 1

image:
  pullPolicy: IfNotPresent
  tag: "dev"

service:
  type: ClusterIP

ingress:
  enabled: true
  className: traefik
  hosts:
    - host: ${APP_NAME}.local
      paths:
        - path: /
          pathType: Prefix

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 50m
    memory: 64Mi

autoscaling:
  enabled: false

env:
  - name: ENVIRONMENT
    value: "local"
  - name: LOG_LEVEL
    value: "debug"
